/* section main home page */

/* section main home page end here ------>*/


/* post listing */
.posts-list .list-item:hover {
    transform: scale(1.02);
    transition: ease-in 0.2s;
}
/* load more btn spinner */
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
/* all btns */
.btn:hover{
    transform: scale(1.02);
    transition: ease-in 0.2s;
}
/* fort featured image on home page  */
.atbs-featured-module-1 .section-main article{
  border-radius: 10px 10px 10px 10px;
}

/* for categoires section two diving into 1/3 of the section */
.categories-list {
  flex: 31.26%;
}
@media (max-width: 1440px){
  .atbs-featured-module-3 .posts-list > * {
    flex: 46%;
  }
}
/* categories list */
.categories-archive .categories-list {
  background-color: var(--background-secondary);
  margin: 15px;
}
.categories-archive .categories-list .list-item {
  padding: 0;
}
.sidebar-categories-list{
  margin-bottom: 45px;
}
.sidebar-categories-list .categories-list {
  background-color: var(--background-secondary);
  margin: 10px 0;
}
.sidebar-categories-list p.post__title {
  font-size: 14px;
}
.block-heading {
  text-align: center;
}
.categories-posts .widget__title:before,
 .block-heading:before {
  content: '';
  width: 20%;
  height: 2px;
  background: var( --color-secondary);
  position: absolute;
  left: 0;
  z-index: 1;
}
/* .categories-posts .widget-wrap{
  position: relative;
} */
.categories-posts .widget__title{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.categories-posts .widget__title:after,
.block-heading:after {
  content: '';
  width: 20%;
  height: 2px;
  background: var( --color-secondary);
  position: absolute;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
}
/* categories trending heading */
.categories-posts{
  margin-top: 20px;
}
@media (max-width: 1440px){
  .sidebar-categories-list p.post__title {
    font-size: 13px;
  }
}
@media (max-width: 991px){
  .sidebar-categories-list p.post__title {
    font-size: 12px;
  }
}
@media (max-width: 767px){
  .categories-posts .widget__title:before,
  .block-heading:before {
    width: 10%;
  }
  .categories-posts .widget__title:after,
  .block-heading:after {
    width: 10%;
  }
}
/* categories list ends*/
/* comment system */
.comment-form-url{
  display: none;
}
textarea#comment,
#comments input:not(#submit) {
  background: #1D1F24;
}